.idk {
    border-radius: 50px;
    border-radius: 50%;
    height: 200pt;
    width: 400pt;
}
.bod {
    background-image: url('https://cutewallpaper.org/21/coolest-steam-profile-backgrounds/Discussion-Best-Steam-profile-backgrounds-.jpg');
}
.navigation {
    position: fixed;
    width: 25px;
    height: 37%;
    background: #21242a;
    transition: 0.5s;
    overflow: hidden;
}
.navigation:hover {
    width: 300px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background: #94b8ff;
    color: black;
}
.navigation ul li a {
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
    text-align: center;
}
.navigation ul li a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
}